nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}

.nav {
    margin: 0 !important;
}

.nav a {
    color: #444;
    text-decoration: none;
}

.nav a:hover {
    font-weight: bold;
}

.search-form,
.filter-form {
    padding: .5rem 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 5px;
}

.search-form {
    width: 100%;
}

.filter-form {
    grid-template-columns: 1fr;
}

.search-form .btn-sm {
    line-height: 1;
    font-size: 0.9rem;
}

.search-form input,
.filter-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1rem;
    padding-bottom: 4px;
}

.filter-form input {
    line-height: 1.5;
}

.cards {
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.cardBody {
    margin-top: 20px;
    justify-content: center;
}

.single-card-people {
    width: 19%;
}

.single-card-movie {
    width: 24%;
}

.single-card-playing {
    width: 15%;
}

#now-playing .card-text {
    height: 100px;
    overflow: hidden;
}

.single-card-tv {
    width: 19%;
}

.tv-show .card-text {
    height: 100px;
    overflow: hidden;
}

.single-card-on-air {
    width: 15%;
}

#on-air-today .card-text {
    height: 100px;
    overflow: hidden;
}

.all-movies .single-card-movie {
    width: 15%;
}

.divNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.mjeError {
    font-size: xx-large;
    font-weight: 500;
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loaderGif {
    width: 80px;
    height: 80px;
}

.gifError {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.inputOpciones {
    color: black;
}

.btn-success {
    width: 140px;
    padding: 10px;
    height: 40px;
}

.buscadorYBoton {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.inputBuscador {
    width: 800px;
    height: 48px;
    padding-left: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 2%;
}

.mjeErrorBuscador {
    margin-top: 10px;
    margin-bottom: 0px;
    color: red;
    font-size: 15px;
    text-align: center;
}

.botonBuscador {
    width: 80px;
    height: 48px;
    font-size: 18px;
    border-radius: 8px;
}

.opcionesRadio {
    width: 15%;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.opcionRadio {
    margin: 0px 20px;
    font-size: 20px;
}

.input-radio {
    margin-right: 8px;
}

.btn-primary {
    margin-bottom: 5px;
}

.buscadorDeTodas {
    font-size: 20px;
    margin-right: 10px;
}

.inputDeTodas {
    width: 400px;
}

.textoSinFav{
    font-size: 20px;
}

@media(max-width: 420px) {

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav-item {
        width: 75px;
    }

    .inputBuscador {
        width: 170px;
    }

    .opcionRadio {
        font-size: 15px;
        margin: 0px 10px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .single-card-movie {
        width: 100%;
    }

    .btn-primary {
        margin-right: 10px;
    }

    .card-img-top {
        height: 450px;
    }

    .single-card-playing {
        width: 100%;
    }

    .alert-primary {
        font-size: 20px;
    }

    .alert-warning {
        font-size: 20px;
    }

    .inputDeTodas {
        width: 210px;
    }

    h3 {
        font-size: 25px;
    }

    .textoSinFav{
        font-size: 15px;
}
}